.Home {
  width: 100%;
  margin: 0 auto;
}

.Heading2 {
  font-weight: bold;
  float: left;
  margin-left: 2%;
}
.data {
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  font-size: 13px;
}
.data > ul > li {
  margin: 0 auto;
  list-style: symbols(red);
}
.CompanyName {
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  font-size: 13px;
}
.DateRange {
  margin-right: 3%;
  float: right;
  font-size: 13px;
}
.ProfilePic {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  border: 2px solid rgb(244, 242, 242);
  padding: 2px;
}
.Heading {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.sideBarContent {
  margin-left: 3;
  color: white;
}
.sideBarContentInner {
  margin-left: 7%;
  margin-top: 3%;
}
.sideBarContent > ul > li {
  list-style: disc;
}
.tabSideBar {
  margin: 0 auto;
  width: 70%;
  margin-left: 16%;
}

.tabSideBar > tr > td {
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
}

.nameCss {
  font-weight: bold;
  font-size: large;
  color: rgb(12, 12, 80);
  margin-left: 2%;
  padding: 3px;
}

.horizontalBar {
  height: 4px;
  background-color: #0e6655;
  margin-bottom: 3%;
}
.tableContent {
  width: 100%;
  border: 1px solid rgb(227, 224, 224);
}

.tableContent > tr > td {
  width: 100%;
}
.column1 {
  float: left;
  width: 30%;
}
.column2 {
  float: left;
  width: 70%;
  background-color: white;
}
.row {
  background-color: #0e6655;
  width: 70%;
  margin: 0 auto;
  border-top: 5px solid brown;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
