.Contact {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(217, 218, 219);
  display: inline-flex;
  margin-top: 3%;
}
.co-column1 {
  width: 50%;
  height: auto;
  float: left;
}
.co-column2 {
  width: 50%;
  float: left;
}
.co-contact {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  margin-right: 0px;
  text-align: justify;
}
.h3CSS {
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .co-column1 {
    width: 100%;
  }
  .co-column2 {
    width: 100%;
  }
  .Contact {
    display: unset;
  }
}
