.Contact {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}
.co-column1 {
  width: 50%;
  height: auto;
  float: left;
}
.co-column2 {
  width: 50%;
  float: left;
}
.co-contact {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  margin-right: 0px;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .co-column1 {
    width: 100%;
  }
  .co-column2 {
    width: 100%;
  }
}
