.Toolbar {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: var(--black-025);*/
    color: hsla(0, 0%, 100%, 0.7);
    background-color: #7fb2e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 2px 0 rgba(12, 13, 14, 0.15);
    z-index: 5050;
    border-top: 3px solid #f48024;
}
.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }.Toolbar {
        height: 56px;
    }
}


